/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:12px 'Open Sans', sans-serif; background:#fff; color:#000; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,checkbox,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
select, input, textarea        { font-size:12px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a 							   {text-decoration: none; color: #000;}
a:hover                        { border-bottom: 3px solid #00a9c2; color: #fff}
/*a:hover                        { border-bottom: 3px solid #00a9c2; padding-bottom: 10px; color: #fff}*/
/*a:link, a:visited              { font:12px Tahoma, sans-serif; color:#000; text-decoration:none; }*/
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.head-wrapper{
	width: 1000px;
	margin: 0 auto;
}
header 
{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index:1;
	height: 80px;
	/*background: #f4f4f4;*/
	/*background-color: #e4e4e4;*/
	opacity: 0.9;
}
.head-wrapper h1 a
{
	border-bottom: none;
	font: bold 30px 'Opel Sans', sans-serif;
	color: #39c9da;
}
.head-wrapper h1
{
	float: left;
	margin-top: 30px;
	margin-left: -100px;
}
.logo-dot
{
	color: #fff;
}
.head-wrapper ul
{
	float: right;
	padding-top: 5px; 
	margin-top: 30px;
	margin-right: -75px;
}
.head-wrapper li
{
	display: inline;
	margin-right: 10px;
}
.head-wrapper li>a
{
	text-transform: uppercase;
    font: 15px 'Open Sans', sans-serif;
    color: #fff;
}
.head-wrapper li:first-child a
{	
	margin-left: 0;
}
.head-wrapper a:last-child
{
	margin-left: 30px;
	margin-right: 0;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------NAV------------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.start-wrapper
{
	width: 900px;
	margin: 0 auto;
}
.start-page
{
	height: 100%;
	background: #ccc url("../images/bg-home1.jpg") center bottom no-repeat;
	background-size: cover;
}
.name
{
	padding: 200px 10px;
	text-align: center;
	text-transform: uppercase;
	font: bold 50px/70px 'Open Sans', sans-serif;
	color: #fff;
}
.download-btn
{
	position: relative;
	bottom: 140px;
	left: 310px;
}
.download-btn a, .get-btn-start a
{
	font: 30px 'Open Sans', sans-serif;
	color: #fff;
	text-transform: uppercase;
	padding: 15px 50px;
	border: 1px solid #fff;
}
.download-btn a:hover, .get-btn-start a:hover
{
	border: none;
	border-radius: 5px;
	background: #39c9da;
	transition: background 0.5s;
}

.about-wrapper
{
	width: 1200px;
	margin: 0 auto;	
	margin-bottom: 20px;
}
.about-wrapper h2, .portfolio-wrapper h2, .wrapper h2, .contact-wrapper h2
{
	margin-bottom: 20px;
	padding-top: 60px;
	font: 20px 'Open Sans', sans-serif;
	text-align: center;
	text-transform: uppercase;
}
.about-wrapper h2+p, .portfolio-wrapper h2+p, .wrapper h2+p, .contact-wrapper h2+p
{
	width: 530px;
	margin: 0 auto;
	margin-bottom: 40px;
	text-align: center;
	font: 15px 'Myriad Pro', sans-serif;
	color: #ccc;
}
.about-wrapper img 
{
	float: left;
	margin-right: 30px;
	padding-top: 60px;
}
.text-underline
{
	padding-bottom: 15px;
	border-bottom: 3px solid #00a9c2;
}
.about-wrapper h3
{
	margin-bottom: 40px;
}
.about-wrapper h3+p, .about-wrapper h3+p+p
{
	margin-bottom: 20px;
	font: 16px 'Myriad Pro', sans-serif; 
	color: #ccc;
}
.about-wrapper h3+p+p
{
	margin-bottom: 40px;
}
.get-btn-start a
{	
	font-size: 22px;
	color: #ccc;
}
.get-btn-start a:hover
{
	border: none;
	background: #11bfd4;
	color: #fff;
}
.portfolio-page
{
	overflow: hidden;
	margin-top: 100px; 
	background: #f4f4f4;
	margin-bottom: 20px;
	/*height: 900px;*/
}
.portfolio-wrapper
{
	width: 1200px;
	margin: 0 auto;
}
.portfolio-wrapper h2
{
	padding-top: 80px;
}
.view-project li
{
	position: relative;
	float: left;
	margin-bottom: 55px;
}
.view-project img
{
	width: 300px;
	margin-right: 30px;
	margin-left:50px;
	opacity: 2;
}

.view-project li:last-child, .view-project li:nth-child(3)
{
	margin-right: 0;
}
.view-project a:hover
{
	border:none;
}
.block-info {
	position: absolute;
	top: 0;
	left: 50px;
	width: 300px;
	height: 100%;
	opacity: 0;
}
.block-info:hover {
	opacity: 1;
	transition: opacity 0.7s;
}
.block-info h4:first-child a {
	position: relative;
	top: 15vh;
	left: 70px;
	/*margin-left: 50px;*/
	/*margin-top: 200px;*/
	padding: 15px 30px;
	/*height: 10px;*/
	/*width: 100px;*/
	border:1px solid gray;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	border-left: 2px solid #fff;
	border-bottom: none;
	font: bold 15px 'Open Sans', sans-serif;
	color: #fff;
	/*opacity: 0;*/
	transition: all 0.7s;
}
.block-info .project-info  {
	position: relative;
	top: 220px;
	padding-bottom: 10px;
	width: 300px;
	background: #fff;
}
.block-info .project-info h4.project {
	margin-left: 10px;
	padding-top: 15px;
	font: bold 17px 'Open Sans', sans-serif;
	color: #000;
}
.block-info .project-info h4.project +a {
	float: right;
	padding-right: 10px;
	margin-top: -25px;
	font: bold 12px 'Open Sans', sans-serif;
	color: #ccc;
}
/*.item-overlay*/
/*{*/
	/*position: relative;*/
	/*bottom: 247px;*/
	/*left: 0;*/
	/*display: flex;*/
	/*margin-left: 50px;*/
    /*height: 50px;*/
    /*width: 300px;*/
    /*flex-wrap: wrap;*/
    /*transition: all 0.7s;*/
    /*background: #fff;*/
    /*opacity: 0;*/
/*}*/
/*.project*/
/*{*/
	/*margin-left: 10px;*/
	/*padding-top: 15px;*/
	/*font: bold 17px 'Open Sans', sans-serif;*/
	/*color: #000;*/
/*}*/
/*.read-more*/
/*{*/
	/*position: relative;*/
	/*bottom: 350px;*/
	/*left: 70px;*/
	/*margin-left: 50px;*/
	/*margin-top: 200px;*/
	/*padding: 15px 30px;*/
	/*height: 10px;*/
	/*width: 100px;*/
	/*border:1px solid gray;*/
	/*border-top: 2px solid #fff;*/
	/*border-right: 2px solid #fff;*/
	/*border-left: 2px solid #fff;*/
	/*border-bottom: none;*/
	/*font: bold 15px 'Open Sans', sans-serif;*/
	/*color: #fff;*/
	/*opacity: 0;*/
	/*transition: all 0.7s;*/
/*}*/
/*.project+a*/
/*{*/
	/*float: right;*/
	/*margin-left: 220px;*/
	/*margin-right: 0;*/
	/*margin-top: -25px;;*/
	/*font: bold 12px 'Open Sans', sans-serif;*/
	/*color: #ccc;*/
/*}*/
/*.item-overlay:hover, .read-more:hover*/
/*{*/
	/*opacity: 1;*/
/*}*/
.wrapper
{
	width: 1000px;
	margin: 0 auto;
}
.wrapper h2, .wrapper h2+p
{
	position: relative;
	bottom: 10px;
}
.item
{
	/*margin-top: -80px;*/
}
.item li
{
	float: left;
	padding: 10px;
	margin-right: 50px;
		margin-bottom: 100px;
	width: 200px;
	text-align: center;
	border: 1px solid #ccc;
}
.item li:first-child
{
	margin-left: -50px;
}
.item li:last-child
{
	margin-right: -20px;
}
.item span
{
	display: block;
	margin-bottom: 15px;
	text-transform: uppercase;
}
.item span+span
{
	font: 23px 'Open Sans', sans-serif;
	padding-bottom: 15px;
	border-bottom: 3px solid #000;
	box-sizing: border-box;
}
.item span.fa
{
	/*color: #39c9da;*/
	font-size: 30px;
}
.item span+span+p
{
	font: 16px 'Myriad Pro', sans-serif;
	margin-bottom: 30px;
}
.item span.bnt-read a
{
	font: 17px 'Open Sans', sans-serif;
	padding: 10px 20px;
	background-color:#4b4a4b;
	color: #fff;
}
.item span.bnt-read a:hover
{
	border: none;
	background-color: #fff;
	color: #000;
	transition: background 0.5s;
}
.item li:hover
{
	background: #39c9da;
	color: #fff;
	transition: background 0.5s, color 0.5s;
	cursor: pointer;
}

.contact-page
{
	height: 700px;
	background: #f4f4f4;
	margin-top: 400px;
}
.contact-wrapper
{
	width: 900px;
	margin: 0 auto;	
}
.contact-info
{
	float: left;
	margin-right: 30px;
}
.contact-send
{
	float: right;
}
.contact-info h3:first-child 
{
	margin-bottom: 45px;
	padding-bottom: 15px;
	width: 110px;
	border-bottom: 3px solid #42cbdb;
}
.contact-info h3+p
{
	width: 370px;
	margin-bottom: 25px;
	color: #a8a8a8;
}
.contact-info h3+p+h3
{
	margin-bottom: 25px;
}
.contact-info h3+p+h3+p
{
	width: 120px;
}
.contact-send ul
{
	width: 500px;
}
.contact-send li
{
	margin-bottom: 25px;
}
.contact-send li
{
	display: inline-block;
}
.contact-send form input:focus, .contact-send form textarea:focus
{
	border: 2px solid gray;
	box-shadow: 0 0 10px #ccc;
}
.contact-send input
{
	margin-right: 30px;
	width: 170px;
	padding: 10px;
	border: 1px solid #fff;
	background: #fff;
}
.contact-send li:nth-child(3) input
{
	width: 400px;
}
.contact-send li:nth-child(4) textarea
{
	padding: 10px;
	border: none;
	width: 400px;
	resize: none;
}
.contact-send input[type="submit"]
{
	float:right;
	padding: 15px 30px;
	margin-right: 80px;
	border-radius: 5px;
	color: #ccc;
	border: 2px solid #fff;
	background: #f4f4f4;
	font: 15px 'Open Sans', sans-serif;
}
.contact-send input[type="submit"]:hover
{
	color: #fff;
	background: #39c9da;
	transition: background 2s, color 1s;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------SIDEBAR--------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
footer
{
	margin: 0 auto;
	padding: 20px 20px;
	text-align: center;
	background: #39c9da;
}
footer span
{
	color: #fff;
}